
/**---------------*/


body {
    font-family: "Roboto",
        sans-serif;
        color: #434455;
        background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

p ,h1,h2,h3,h4 {
    margin-top: 0;
    margin-bottom: 0;
} 

img {
    display: block;
}


/**---------------*/


/**-------header--------*/

.header {
    padding-left: 156px;
    padding-right: 156px;
    border-bottom: 1px solid #E7E9FC;

}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px ;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
   
    }


.header-logo {
    color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
        
}

.header-logo-studio {
    color: #2E2F42;
        font-family: "Raleway",
            sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.header-navigation {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    
}

.header-navigation-list {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-navigation-link {
    color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.header-navigation-link:hover {
    color: #404BBF;
}
.header-navigation-link:focus {
    color: #404BBF;
}

.header-navigation-link:active {
    color: #404BBF;
    text-decoration: underline;
}

.header-address {
    font-style: normal;
}

.header-address-list {
    display: flex;
    gap: 40px;
    
}

.header-address-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-address-link:hover {
    color: #404BBF;
}

.header-address-link:focus {
    color: #404BBF;
}


/**---------------*/


/**-------first layer--------*/

.hero { 
    background-color: #2E2F42;
}

.hero-container {
    padding: 176px 472px 188px 472px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.hero-title { 
color: #FFF;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 48px;
max-width: 496px;
}

.btn-container {
   
}

.hero-button {
    color: #FFF;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;


}

.hero-button:hover {
    background-color: #404BBF;
}

.hero-button:focus {
    background-color: #404BBF;
}

/**---------------*/


/**----------second layer---------- */

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
    flex-shrink: 0;
    padding-left: 156px;
    padding-right: 156px;
 

}

.features-item {
    width: 264px;
   
}

.features-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.features-text {
    color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/**---------------*/


/**----------third layer---------- */

.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 156px;
    padding-left: 156px;
}

.team-container {
   
}

.team-title {
    color:  #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    flex-direction: row;
    justify-content: center;
}

.team-item {
    background-color: #FFF;
    padding-bottom: 32px;
    width: 264px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;

}

.team-img {
    margin-bottom: 32px;
}

.team-item-title {
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.team-text {
    color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/**---------------*/


/**----------the fourth layer---------- */

.portfolio {
    padding-bottom: 120px;
    
}

.portfolio-title {
    color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        padding-top: 120px;
        margin-bottom: 72px;
}

.portfolio-item-img {
    margin-bottom: 32px;
}

.portfolio-item-title {
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    justify-content: center;
    flex-shrink: 0;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #E7E9FC;
    background: #FFF;
}

.portfolio-item-text {
    color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-bottom: 32px;
        padding-left: 16px;
        padding-right: 16px
}


/**---------------*/


/**----------footer---------- */

.footer {
    background-color: #2E2F42;
    padding-left: 156px;
    padding-top: 101.5px;
    padding-bottom: 100px ;
}

.footer-link {
    color: #4D5AE5;
        font-family: "Raleway",
            sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.footer-logo-studio {
    color: #F4F4FD;
        font-family: "Raleway",
            sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}


.footer-text {
    color: #F4F4FD;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 264px;
        margin-top: 17.5px;
        
}

